@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-primaria: #2c3639;
  --cor-secundaia: #dcd7c9;
  --cor-terciaria: #a27b5c;
  --cor-hover: #3f4e4f;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh; */
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaia);
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
  display: flex;
  gap: 80px;
}

.cabecalho-menu-link {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none;
}

.apresentacao {
  /* margin: 10% 15%; */
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.apresentacao-conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao-conteudo-titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-primaria);
}

.titulo-destaque {
  color: var(--cor-terciaria);
}

.apresentacao-conteudo-texto {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
}

.botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}

.subttitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}

.botao {
  /* background-color: */
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--cor-terciaria);
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 21.5px 0;
  text-decoration: none;
  color: #f6f6f6;
  font-family: var(--fonte-secundaria);
}

.botao:hover {
  cursor: pointer;
  background-color: var(--cor-hover);
  padding: 3%;
}

.botao .icons {
  width: 30px;
}

.foto {
  width: 45%;
  border-radius: 20px;
}

.rodape {
  padding: 24px;
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .cabecalho {
    padding: 10%;
  }

  .cabecalho-menu {
    justify-content: center;
  }

  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .apresentacao-conteudo {
    width: auto;
  }
}
